<template>
    <div id="app">
        <component :is="layout">
            <router-view/>
        </component>
    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    computed: {
        layout() {
            return this.$store.state.general.layout_main
        }
    },
    created() {
    }
}
</script>
